<form name="paymentTypeEntryForm" novalidate>
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="topInfo"> &nbsp; &#9755; <span style="color:red;">Red Icon</span> Denotes Required Field &nbsp;&nbsp;&nbsp;&nbsp; &#9755; Click On A Table Row To Update/Delete</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-group"></i>&nbsp;Payment Type Entry </h3>
            </div>
            <div class="panel-body">
                <div class="form-group" ng-class="{ 'has-error' : paymentTypeEntryForm.PaymentGroup.$dirty && paymentTypeEntryForm.PaymentGroup.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Payment Group">
                    <div class="input-group input-group-md ddl">
                        <select ng-model="ddlPaymentGroup" name="PaymentGroup" class="form-control selectMendatory" ng-change="ad_PaymentType.PaymentGroupId=ddlPaymentGroup.PaymentGroupId;ad_PaymentType.PaymentGroupName=ddlPaymentGroup.PaymentGroupName;" ng-options="aPaymentGroup.PaymentGroupName for aPaymentGroup in  PaymentGroupList track by aPaymentGroup.PaymentGroupId" required autofocus>
                            <option value="" label="Payment Group"></option>
                        </select>
                    </div>
                    <span class="help-block" ng-show="paymentTypeEntryForm.PaymentGroup.$dirty && paymentTypeEntryForm.PaymentGroup.$invalid">Payment Group required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : paymentTypeEntryForm.PaymentTypeName.$invalid && paymentTypeEntryForm.PaymentTypeName.$touched }" data-toggle="tooltip" data-placement="bottom" title="Payment Type Name">
                    <div class="input-group botton-pad-remove" ng-class="{ 'has-error' : paymentTypeEntryForm.BranchTypeName.$invalid && paymentTypeEntryForm.BranchTypeName.$touched }">
                        <input type="text" id="txtPaymentTypeName" maxlength="50" name="PaymentTypeName" class="form-control" ng-model="ad_PaymentType.PaymentTypeName" ng-blur="CheckDuplicateBranchTypeName()" ng-change="foundChange()" placeholder="Payment Type Name" ng-maxlength="49" required >
                        <span class="input-group-addon"><i class="fa fa-text-width" style="color:red;"></i></span>
                    </div>
                    <span class="help-block" style="display: block;" ng-if="paymentTypeEntryForm.PaymentTypeName.$error.required && paymentTypeEntryForm.PaymentTypeName.$touched">Payment Type Name is required</span>
                    <span class="help-block" style="display: block;" ng-if="paymentTypeEntryForm.PaymentTypeName.$error.maxlength">50 Character Max</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : paymentTypeEntryForm.CommissionPer.$invalid && paymentTypeEntryForm.CommissionPer.$touched }" data-toggle="tooltip" data-placement="bottom" title="Commission Percent">
                    <div class="input-group botton-pad-remove" ng-class="{ 'has-error' : paymentTypeEntryForm.CommissionPer.$invalid && paymentTypeEntryForm.CommissionPer.$touched }">
                        <input type="number" id="txtCommissionPer" maxlength="2" name="CommissionPer" class="form-control" ng-model="ad_PaymentType.CommissionPercent" placeholder="Commission Percent" ng-maxlength="2">
                        <span class="input-group-addon"><i>%</i></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label>Status:</label>
                        &nbsp;&nbsp;
                        <div class="radio-inline">
                            <input type="radio" name="optionsRadios" ng-value="true" ng-model="ad_PaymentType.IsActive">Active
                        </div>
                        <div class="radio-inline">
                            <input type="radio" name="optionsRadios" ng-value="false" ng-model="ad_PaymentType.IsActive">Inactive
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <br />
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 5%; padding-right: 7%;">
                            <div class="row">
                                <button type="submit" id="Button1" class="customBtn custmoBtnSave" ng-click="Save()" title="{{saveButtonLabel}}" ng-disabled="paymentTypeEntryForm.$invalid ">
                                    <i class="fa fa-floppy-o"></i>&nbsp;{{saveButtonLabel}}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 6%; padding-right: 6%;">
                            <div class="row">
                                <button id="Button2" class="customBtn custmoBtnDelete" title="Delete" ng-click="Delete()" ng-show="deleteButtonShow">
                                    <i class="fa fa-trash"></i>&nbsp;Delete
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 7%; padding-right: 5%;">
                            <div class="row">
                                <button id="btnReset" ng-click="ResetForm()" class="customBtn custmoBtnReset" title="Reset">
                                    <i class="fa fa-refresh"></i>&nbsp;Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>&nbsp;Payment List</h3>
            </div>
            <div class="panel-body custom-panal-body">
                <div class="tbl-outer">
                    <table class="responstable table-hover">
                        <thead>
                            <tr class="t-head">
                                <th class="txt-center">S/N</th>
                                <th class="txt-center">Payment Group</th>
                                <th class="txt-center" data-th="Payment Details"><span>Payment Type Name</span></th>
                                <th class="txt-center">Commission In %</th>
                                <th class="txt-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="HoverTable" dir-paginate="aPaymentType in PaymentTypelist|itemsPerPage:itemsPerPage" current-page="currentPage" total-items="total_count" ng-click="RowClickPaymentType(aPaymentType)">
                                <td class="txt-center">{{$index + ((currentPage-1) * itemsPerPage) + 1}}</td>
                                <td class="txt-center">{{aPaymentType.PaymentGroupName}}</td>
                                <td class="txt-center">{{aPaymentType.PaymentTypeName}}</td>
                                <td class="txt-center">{{aPaymentType.CommissionPercent}}</td>
                                <td class="txt-center">{{aPaymentType.Status}}</td>
                            </tr>
                            <tr class="t-foot" ng-show="total_count>itemsPerPage">
                                <th colspan="3">
                                    <dir-pagination-controls max-size="9"
                                                             direction-links="true"
                                                             boundary-links="true"
                                                             on-page-change="getData(newPageNumber)" style="text-align:center;">
                                    </dir-pagination-controls>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row pagination-footer">
                        <div class="col-md-6">
                            <span>Show </span><input class="input-pagesize" type="number" ng-maxlength="100" ng-minlength="1" width="1" ng-model="itemsPerPage"> <span>Records </span>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">Showing {{((currentPage-1)*itemsPerPage)+1}} to {{((currentPage-1)*itemsPerPage)+PaymentTypelist.length}} of {{total_count}} Records</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>