<form name="overheadEntryForm" novalidate>
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="topInfo"> &nbsp;  &#9755;&nbsp; <span style="color:red;">Red Icon</span> Denotes Required Field &nbsp;&nbsp;&nbsp;&nbsp; &#9755; Click On A Table Row To Update/Delete</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-share-alt"></i>&nbsp;Overhead Name </h3>
            </div>
            <div class="panel-body custom-panal-body" >

                <div class="form-group" ng-class="{ 'has-error' : overheadEntryForm.OverheadName.$invalid && overheadEntryForm.OverheadName.$touched }" data-toggle="tooltip" data-placement="bottom" title="Overhead Name">
                    <div class="input-group">
                        <input type="text" id="txtOverheadName" name="OverheadName" class="form-control" ng-model="ad_OverHead.OverHeadName" placeholder="Overhead Name" ng-blur="CheckDuplicateOverheadName()" ng-change="foundChange()" maxlength="51" ng-maxlength="50" autofocus required>
                        <span class="input-group-addon"><i class="fa fa-text-width" style="color:red"></i></span>
                    </div>
                    <span class="help-block" ng-if="overheadEntryForm.OverheadName.$error.required && overheadEntryForm.OverheadName.$touched">Overhead  Name is required</span>
                    <span class="help-block" ng-if="overheadEntryForm.OverheadName.$error.maxlength">50 Character Max</span>
                </div>

                <div ng-hide="!HasAccounts" class="form-group" ng-class="{ 'has-error' : itemEntryForm.AccountLedgerCodeType.$dirty && itemEntryForm.AccountLedgerCodeType.$invalid }">
                    <div class="input-group input-group-md ddl" data-toggle="tooltip" data-placement="bottom" title="Select AccountLedgerCodeType">
                        <select ng-model="ddlAccountLedgerCodeType" class="form-control selectMendatory" name="AccountLedgerCodeType">
                            <option value="" label="Select Account Ledger Code"></option>
                        </select>
                        <!--<span class="input-group-addon"><i class="fa fa-th-large"></i></span>-->
                    </div>
                </div>
                <div ng-hide="HasAccounts" class="form-group" ng-class="{ 'has-error' : itemEntryForm.AccountLedgerCode.$invalid && itemEntryForm.AccountLedgerCode.$touched }" data-toggle="tooltip" data-placement="bottom" title="Account Ledger Code">
                    <div class="form-group" ng-class="{ 'has-error' :overheadEntryForm.AccountLedgerCode.$invalid && overheadEntryForm.AccountLedgerCode.$touched }">
                        <div class="input-group" data-toggle="tooltip" data-placement="bottom" title="Account Ledger Code">
                            <input type="text" id="txtAccountLedgerCode" name="AccountLedgerCode" maxlength="50" class="form-control" ng-model="ad_OverHead.AccountCode" placeholder="Account Ledger Code" ng-maxlength="49">
                            <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                        </div>
                        <span class="help-block" ng-if="overheadEntryForm.AccountLedgerCode.$error.required && overheadEntryForm.AccountLedgerCode.$touched">Return Reason Name is required</span>
                        <span class="help-block" ng-if="overheadEntryForm.AccountLedgerCode.$error.maxlength">50 Character Max</span>
                    </div>
                </div>
                <div class="input-group">
                    <label>Status: </label>
                    &nbsp;&nbsp;
                    <div class="radio-inline">
                       
                            <input type="radio" name="optionsRadios"
                                   ng-value="true" ng-model="ad_OverHead.IsActive">
                            Active
                       
                    </div>
                    <div class="radio-inline">
                        
                            <input type="radio" name="optionsRadios"
                                   ng-value="false" ng-model="ad_OverHead.IsActive"> Inactive
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <br />
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 5%; padding-right: 7%;">

                            <div class="row">
                                <button ng-click="AddOverHeadName()" class="customBtn custmoBtnSave" ng-disabled="overheadEntryForm.$invalid">
                                    <i class="fa fa-floppy-o"></i>&nbsp;{{button}}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 6%; padding-right: 6%;">
                            <div class="row">
                                <button id="Button2" class="customBtn custmoBtnDelete" ng-click="Delete()" ng-show="btnDeleteShow" title="Search">
                                    <i class="fa fa-trash"></i>&nbsp;Delete
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 7%; padding-right: 5%;">
                            <div class="row">
                                <button id="Button3" class="customBtn custmoBtnReset" title="Search" ng-click="resetForm()">
                                    <i class="fa fa-refresh"></i>&nbsp;Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>&nbsp;Overhead Name List</h3>
            </div>
            <div class="panel-body custom-panal-body">
                <div class="tbl-outer">

                    <table class="responstable table-hover">
                        <tbody>
                            <tr class="t-head">
                                <th>S/N</th>
                                <th data-th="Overhead Name"><span>Overhead Name</span></th>
                                <th>Status</th>
                            </tr>
                            <tr class="HoverTable" dir-paginate="aOverhead in overheadentrylist|itemsPerPage:PerPage" total-items="total_count" ng-click="SelOverhead(aOverhead)">
                                <td>{{$index + ((currentPage-1) * PerPage) + 1}}</td>
                                <td>{{aOverhead.OverHeadName}}</td>
                                <td>{{aOverhead.Status}}</td>
                            </tr>
                            <tr class="t-foot" ng-show="total_count>PerPage">
                                <th colspan="3">
                                    <dir-pagination-controls max-size="8"
                                                             direction-links="true"
                                                             boundary-links="true"
                                                             on-page-change="getData(newPageNumber)" style="text-align:center;">
                                    </dir-pagination-controls>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row pagination-footer">
                        <div class="col-md-6">
                            <span>Show </span><input class="input-pagesize" type="number" ng-maxlength="100" ng-minlength="1" width="1" ng-model="PerPage"> <span>Records </span>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">Showing {{((currentPage-1)*PerPage)+1}} to {{((currentPage-1)*PerPage)+overheadentrylist.length}} of {{total_count}} Records</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>

</form>
