<form name="salesOrderApproveForm" novalidate>
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="topInfo"> &nbsp; &#9755; <span style="color:red;">Red Icon</span> Denotes Required Field &nbsp;&nbsp;&nbsp;&nbsp; &#9755; Click On A Table Row To Update</div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-shield"></i>&nbsp;Proforma Invoice Approval</h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active" style="cursor:pointer;"><a data-toggle="tab" data-target="#NewApproval"><span><i class="fa fa-list"></i></span>&nbsp;New Approval</a></li>
                    <li style="cursor:pointer;"><a data-toggle="tab" data-target="#AmendmentRequest"><span><i class="fa fa-list"></i></span>&nbsp;Amendment Request</a></li>
                </ul>
                <div class="tab-content">
                    <div id="NewApproval" class="tab-pane fade in active">
                        <div class="col-md-12 tabBorder">
                            <div class="panel-footer">
                                <div class="clearfix">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="responstable table-hover">
                                            <tbody>
                                                <tr>
                                                    <th class="t-cell-center">S/N</th>
                                                    <th class="t-cell-center">Chk</th>
                                                    <th class="t-cell-center">Invoice No.</th>
                                                    <th class="t-cell-center">Invoice Date</th>
                                                    <th class="t-cell-center">Company</th>
                                                    <th class="t-cell-center">Amount</th>
                                                    <th class="txt-center">Action</th>
                                                </tr>
                                                <tr class="HoverTable searchRow" ng-repeat="PerformaInvoiceApprove in ProformaInvoiceNewApproveList">
                                                    <td class="t-cell-center">{{$index+1}}</td>
                                                    <td class="t-cell-center">
                                                        <input type="checkbox" ng-model="selected"
                                                               ng-click="SelectNewPiApproveList(PerformaInvoiceApprove,selected)" />
                                                    </td>
                                                    <td class="t-cell-center">{{PerformaInvoiceApprove.DocNo}}</td>
                                                    <td class="t-cell-center">{{PerformaInvoiceApprove.DocDate |date:'MM/dd/yyyy'}}</td>
                                                    <td class="t-cell-center">{{PerformaInvoiceApprove.Party}}</td>
                                                    <td style="text-align:right; padding-right:10px">{{PerformaInvoiceApprove.Amount.toFixed(2)}}</td>
                                                    <td class="t-cell-center">
                                                        <button class="btn btn-lg" style="font-size:13px; padding:12.5px"
                                                                ng-click="OpenReports(PerformaInvoiceApprove.DocumentId)">
                                                            Report
                                                        </button>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-lg-4 col-xs-12">
                                        <button id="btnSave" class="customBtn custmoBtnSave" ng-click="SaveNewPiApprove()" ng-disabled="!DisNewPiSaveBtn" title="Save">
                                            <i class="fa fa-save"></i>&nbsp;Submit
                                        </button>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-lg-4 col-xs-12">
                                        <button id="Button3" class="customBtn custmoBtnReset" title="Reset" ng-click="ResetPiNewForm()">
                                            <i class="fa fa-refresh"></i>&nbsp;Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="AmendmentRequest" class="tab-pane fade">
                        <div class="col-md-12 tabBorder">
                            <div class="panel-footer">
                                <div class="clearfix">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="responstable table-hover">
                                            <tbody>
                                                <tr>
                                                    <th class="t-cell-center">S/N</th>
                                                    <th class="t-cell-center">Chk</th>
                                                    <th class="t-cell-center">Invoice No.</th>
                                                    <th class="t-cell-center">Invoice Date</th>
                                                    <th class="t-cell-center">Company</th>
                                                    <th class="t-cell-center">Amount</th>
                                                    <th class="txt-center">Action</th>
                                              
                                                </tr>
                                                <tr class="HoverTable searchRow" ng-repeat="PerformaInvoiceApprove in PerformaInvoiceApproveList">
                                                    <td class="t-cell-center">{{$index+1}}</td>
                                                    <td class="t-cell-center">
                                                        <input type="radio" name="optionsRadio" 
                                                               ng-model="PerformaInvoiceApprove.optionsRadio" value="true" ng-click="SelectPiAmendmentRequestList(PerformaInvoiceApprove);">
                                                    </td>
                                                    <td class="t-cell-center">{{PerformaInvoiceApprove.DocNo}}</td>
                                                    <td class="t-cell-center">{{PerformaInvoiceApprove.DocDate |date:'MM/dd/yyyy'}}</td>
                                                    <td class="t-cell-center">{{PerformaInvoiceApprove.Party}}</td>
                                                    <td style="text-align:right; padding-right:10px">{{PerformaInvoiceApprove.Amount.toFixed(2)}}</td>
                                                    <td class="t-cell-center">
                                                        <button class="btn btn-lg" style="font-size:13px; padding:12.5px"
                                                                ng-click="OpenReports(PerformaInvoiceApprove.DocumentId)">
                                                            Report
                                                        </button>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-lg-4 col-xs-12">
                                        <input type="password" name="OTP" id="idOTP" class="form-control" ng-model="OTP" ng-change="CheckDuplicatePassword(OTP)" ng-disabled="!DisPiAmendmentSaveBtn" placeholder="One Time Password">
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-lg-4 col-xs-12">
                                        <button id="btnSave" class="customBtn custmoBtnSave" ng-click="SavePiAmendmentApprove()" ng-disabled="!OTP" title="Save">
                                            <i class="fa fa-save"></i>&nbsp;Submit
                                        </button>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-lg-4 col-xs-12">
                                        <button id="Button3" class="customBtn custmoBtnReset" title="Reset" ng-click="ResetPiAmendForm()">
                                            <i class="fa fa-refresh"></i>&nbsp;Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
