<form name="changePasswordForm" novalidate>
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-group"></i>&nbsp;Change Password {{message}}</h3>
            </div>
            <div class="panel-body">
                <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.NewPassword.$invalid && changePasswordForm.NewPassword.$touched }" data-toggle="tooltip" data-placement="bottom" title="New Password">
                    <div class="input-group">
                        <input type="password" ng-model="s_User.NewPassword" id="txtNewPassword" name="NewPassword" class="form-control" placeholder="New Password" maxlength="50" ng-maxlength="49" autofocus required />
                        <span class="input-group-addon"><i class="fa fa-key" style="color:red;"></i></span>
                    </div>
                    <span class="help-block" style="display: block;" ng-if="changePasswordForm.NewPassword.$error.required && changePasswordForm.NewPassword.$touched">New password is required</span>
                    <span class="help-block" ng-if="changePasswordForm.NewPassword.$error.maxlength">50 Character Max</span>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.ReNewPassword.$invalid && changePasswordForm.ReNewPassword.$touched }" data-toggle="tooltip" data-placement="bottom" title="Re-type New Password">
                    <div class="input-group">
                        <input type="password" ng-model="s_User.ReNewPassword" id="txtReNewPassword" name="ReNewPassword" class="form-control" nx-equal-ex="s_User.NewPassword" placeholder="Re-Type New Password" maxlength="50" ng-maxlength="49" required />
                        <span class="input-group-addon"><i class="fa fa-key" style="color:red;"></i></span>
                    </div>
                    <span class="help-block" style="display: block;" ng-if="changePasswordForm.ReNewPassword.$error.required && changePasswordForm.ReNewPassword.$touched">Re-Type New password</span>
                    <span class="help-block" ng-if="changePasswordForm.ReNewPassword.$error.maxlength">50 Character Max</span>
                    <span class="help-block" ng-if="changePasswordForm.ReNewPassword.$error.nxEqualEx">Must be equal!</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.authPassword.$dirty && userForm.authPassword.$invalid }" data-toggle="tooltip" data-placement="bottom" title="Authorization Password">
                    <div class="input-group">
                        <input type="password" name="authPassword" class="form-control" ng-model="s_User.AuthorizationPassword" placeholder="Authorization Password" maxlength="21" ng-maxlength="20"/>
                        <span class="input-group-addon" id="authPasswordAddon"><i class="fa fa-key"></i></span>
                    </div>
                    <span class="help-block" ng-if="userForm.authPassword.$error.maxlength">20 Character Max</span>
                </div>
                <div class="col-md-8 col-sm-12 col-lg-8 col-xs-12" style="padding-left: 5%; padding-right: 7%;">
                    <div class="row">
                        <button id="Button1" class="customBtn custmoBtnSave" title="Change Password" ng-click="ChangePassword()" ng-disabled="changePasswordForm.$invalid">
                            <i class="fa fa-pencil-square-o"></i>&nbsp;Change Password
                        </button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 7%; padding-right: 5%;">
                    <div class="row">
                        <button type="reset" id="btnReset" ng-click="resetForm()" class="customBtn custmoBtnReset" title="Reset">
                            <i class="fa fa-refresh"></i>&nbsp;Reset
                        </button>
                    </div>
                </div>
                <!--<div class="col-md-4">
                    <div class="col-md-4 col-sm-4 col-lg-12 col-xs-12" style="padding-left: 7%; padding-right: 5%;">
                        <button type="reset" id="btnReset" ng-click="resetForm()" class="customBtn custmoBtnReset" title="Reset">
                            <i class="fa fa-refresh"></i>&nbsp;Reset
                        </button>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
    <!--For Test-->
    <!--<div class="col-sm-8">
        <div class="col-sm-6">
            <input type="text" ng-model="ad_BranchType.BranchTypeName" /><br />
            <button ng-click="AddBranchType()">{{buttonTitle}}</button>
            <button ng-click="Delete()" ng-show="showButton">Delete</button>
        </div>
        <div class="col-sm-6">
            <table class="responstable table-hover table-bordered ">
                <thead>
                    <tr class="t-head">
                        <th>Branch Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="branch in  BrancTypeList" ng-click="selBranch(branch)">
                        <td>{{branch.BranchTypeName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->
</form>