<form name="branchTypeEntryForm" novalidate>
    <div class="col-md-12">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="topInfo"> &nbsp; &#9755; <span style="color:red;">Red Icon</span> Denotes Required Field &nbsp;&nbsp;&nbsp;&nbsp; &#9755; Click On A Table Row To Update/Delete</div>
        </div>
    </div>
  
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-group"></i>&nbsp;Outlet Type Entry </h3>
            </div>

            <div class="panel-body">
                <div class="form-group" ng-class="{ 'has-error' : branchTypeEntryForm.BranchTypeName.$invalid && branchTypeEntryForm.BranchTypeName.$touched }" data-toggle="tooltip" data-placement="bottom" title="Outlet Type Name">
                    <div class="input-group botton-pad-remove" ng-class="{ 'has-error' : branchTypeEntryForm.BranchTypeName.$invalid && branchTypeEntryForm.BranchTypeName.$touched }">
                        <input type="text" id="txtBranchTypeName" maxlength="50" name="BranchTypeName" class="form-control" ng-model="ad_BranchType.BranchTypeName" ng-blur="CheckDuplicateBranchTypeName()" ng-change="foundChange()" placeholder="Outlet Type Name" ng-maxlength="49" required autofocus>
                        <span class="input-group-addon"><i class="fa fa-text-width" style="color:red;"></i></span>
                    </div>
                    <span class="help-block" style="display: block;" ng-if="branchTypeEntryForm.BranchTypeName.$error.required && branchTypeEntryForm.BranchTypeName.$touched">Outlet Type Name is required</span>
                    <span class="help-block" style="display: block;" ng-if="branchTypeEntryForm.BranchTypeName.$error.maxlength">50 Character Max</span>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <br />
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 5%; padding-right: 7%;">
                            <div class="row">
                                <button type="submit" id="Button1" class="customBtn custmoBtnSave" ng-click="AddBranchType()" title="{{button}}" ng-disabled="branchTypeEntryForm.$invalid ">
                                    <i class="fa fa-floppy-o"></i>&nbsp;{{button}}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 6%; padding-right: 6%;">
                            <div class="row">
                                <button id="Button2" class="customBtn custmoBtnDelete" title="Delete" ng-click="Delete()" ng-show="Show">
                                    <i class="fa fa-trash"></i>&nbsp;Delete
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12" style="padding-left: 7%; padding-right: 5%;">
                            <div class="row">
                                <button  id="btnReset" ng-click="resetForm()" class="customBtn custmoBtnReset" title="Reset">
                                    <i class="fa fa-refresh"></i>&nbsp;Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i>&nbsp;Outlet Type List</h3>
            </div>
            <div class="panel-body custom-panal-body">

                <div class="tbl-outer">
                    <table class="responstable table-hover">
                        <thead>
                            <tr class="t-head">
                                <th class="txt-center">S/N</th>
                                <th data-th="Branch Details"><span>Outlet Type Name</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="BranchTypelist.length <= 0">
                                <td colspan="2" style="text-align:center;">Loading new data!!<img src="/UploadedFiles/spinner.gif"></td>
                            </tr>
                            <tr class="HoverTable" dir-paginate="aBranchType in BranchTypelist|itemsPerPage:itemsPerPage" total-items="total_count" ng-click="SelBranchType(aBranchType)">
                                <td class="txt-center">{{$index + ((currentPage-1) * itemsPerPage) + 1}}</td>
                                <td>{{aBranchType.BranchTypeName}}</td>
                            </tr>
                            <tr class="t-foot" ng-show="total_count>itemsPerPage">
                                <th colspan="3">
                                    <dir-pagination-controls max-size="9"
                                                             direction-links="true"
                                                             boundary-links="true"
                                                             on-page-change="getData(newPageNumber)" style="text-align:center;">
                                    </dir-pagination-controls>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row pagination-footer">
                        <div class="col-md-6">
                            <span>Show </span><input class="input-pagesize" type="number" ng-maxlength="100" ng-minlength="1" width="1" ng-model="itemsPerPage"> <span>Records </span>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">Showing {{((currentPage-1)*itemsPerPage)+1}} to {{((currentPage-1)*itemsPerPage)+BranchTypelist.length}} of {{total_count}} Records</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</form>


